<h1>Welcome to the home page for <%= @cat.name %></h1>

<ul>
	<li><%= @cat.name %> </li>
	<li><%= @cat.age %> </li>
	<li><%= @cat.color %> </li>
	<li><%= @cat.sex %> </li>
	<li><%= @cat.birth_date %> </li>
	<li>Loyal user since: <%= @cat.created_at %> </li>
</ul>

<%= link_to "Index", cats_url %>

<h2>These are the current requests for <%= @cat.name %></h2>

<ul>
<% @cat.cat_rental_requests.each do |request|%>
<li>Begin Date: <%= request.begin_date %> </li>
<li>End Date: <%= request.end_date %> </li>
<li>Status: <%= request.status %> </li>
<br />
<% end %>
</ul>