<h1>Welcome to the home page for <%= @cat.name %></h1>

<ul>
	<li><%= @cat.name %> </li>
	<li><%= @cat.age %> </li>
	<li><%= @cat.color %> </li>
	<li><%= @cat.sex %> </li>
	<li><%= @cat.birth_date %> </li>
	<li>Loyal user since: <%= @cat.created_at %> </li>
</ul>

<%= link_to "Index", cats_url %>

<h2>These are the undecided requests for <%= @cat.name %></h2>

<ul>
<% @undecided.each do |request|%>
<li>Begin Date: <%= request.begin_date %> </li>
<li>End Date: <%= request.end_date %> </li>
<li>Status: <%= request.status %> </li>

	<form action = "<%=cat_rental_request_url(request)%>" method = "post">
		<input type="hidden" name = "_method" value = "PUT">
		<input type="hidden" name = "cr[status]" value = "approved">
		<input type= "submit" value = "Approve" >
	</form>
	<form action = "<%=cat_rental_request_url(request)%>" method = "post">
		<input type="hidden" name = "_method" value = "PUT">
		<input type="hidden" name = "cr[status]" value = "denied">
		<input type= "submit" value = "Deny" >
	</form>
	<br />
<% end %>
</ul>