<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>Logged in as: <%= @current_user.username unless @current_user.nil? %></h2>
<% flash.each do |key, value|%>
<div><%= value %></div>
<% end %>
<%= yield %>
</body>
</html>
